#boxb{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    
}


#boxa{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    
}
#box{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
    

}
